.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #000;
    color: white;
}

.navbar .arrows {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: none;
    font-weight: bold;
}

.navbar .arrows button {
    background-color: #000;
    color: white;
}

.navbar .home-icon {
    background-color: white;
    height: 45px;
    width: 45px;
    color: #000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.navbar .home-icon :nth-child(1) {
    font-size: 1.2rem;
}


.navbar .search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 0 15px;
    width: 300px;
}

.navbar .search input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    font-size: 1rem;
    color: #121212;
}

.navbar .search svg {
    color: #121212;
    font-size: 1.2rem;
}

.navbar .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
