.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #000;
    color: white;
}

.navbar .arrows {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: none;
    font-weight: bold;
}

.navbar .arrows button {
    background-color: #000;
    color: white;
}

.navbar .home-icon {
    background-color: #1f1f1f;
    height: 45px;
    width: 45px;
    color: #a3a3a3;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar .home-icon:hover {
    background-color: #2a2a2a;
}

.navbar .home-icon :nth-child(1) {
    font-size: 1.2rem;
}

.navbar .search {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 25px;
    padding: 0 15px;
    width: 300px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar .search:hover {
    background-color: #2a2a2a;
}

.navbar .search input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none; 
    background-color: transparent;
    padding-left: 10px;
    font-size: 1rem;
    color: #a3a3a3;
}


.navbar .search :nth-child(1) {
    color: #a3a3a3;
    font-size: 1.2rem;
}

.navbar .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
